{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Perfil de Usuário</strong>
	</div>
	<div class="panel-body">
		<div class="media" style="padding: 10px">
			<div class="media-left col-xs-3">
				<img src="{% static 'img/img_avatar.png' %}" class="media-object" style="width:130px">
			</div>
			<div class="media-body col-xs-9">
				<h3 class="media-heading">{{ perfil.nome }}</h3>
				<br>
				<p>{{ perfil.email }}</p>
				<p>{{ perfil.telefone }}</p>
				<p>{{ perfil.nome_empresa }}</p>
			</div>
		</div>
		
		<div class="panel-buttons">
			<div class="pull-left">
				<a href="{% url 'listar' %}" class="btn btn-danger">Retornar</a>
			</div>
			{% if is_contato %}
				<div class="pull-right">
					<div class="well well-sm">Vocês estão conectados</div>
				</div>
			{% else %}
				<div class="pull-right">
					<a href="{% url 'convidar' perfil.id %}" class="btn btn-primary">Convidar</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}