{% extends "base.html" %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Gerenciar perfis</strong>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label for="id">Código:</label>
				<input type="text" class="form-control" id="id" value="{{ perfil.id }}">
			</div>
			<div class="form-group">
				<label for="nome">Nome:</label>
				<input type="text" class="form-control" id="nome" value="{{ perfil.nome }}">
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="text" class="form-control" id="email" value="{{ perfil.email }}">
			</div>
			<div class="form-group">
				<label for="nome_empresa">Empresa:</label>
				<input type="text" class="form-control" id="nome_empresa" value="{{ perfil.nome_empresa }}">
			</div>
			<div class="panel-buttons">
				<div class="pull-left">
					<a href="{% url 'listar' %}" class="btn btn-danger">Retornar</a>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-primary">Salvar Alterações</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}