<!DOCTYPE html>
<html lang="pr-br">
<head>
	<meta charset="UTF-8">
	<title>ConnectedIn</title>
</head>
<body>
	<h2>Gerenciar Perfis</h2>
	<tt>
	{% if perfis %}
	<table border="1">
		<tr>
			<th align="right">Id</th>
			<th align="left">Nome</th>
			<th align="left">Email</th>
			<th align="left">Telefone</th>
			<th align="left">Empresa</th>
			<th align="left">Ações</th>
		</tr>
		{% for perfil in perfis %}
		<tr>
			<td align="right">{{ perfil.id }}</td>
			<td align="left">{{ perfil.nome }}</td>
			<td align="left">{{ perfil.email }}</td>
			<td align="left">{{ perfil.telefone }}</td>
			<td align="left">{{ perfil.nome_empresa }}</td>
			<td align="left">
				<a href="{% url 'exibir' perfil.id %}">[Visualizar]</a>
				<a href="{% url 'convidar' perfil.id %}">[Convidar]</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p align="center">Nenhum perfil encontrado</p>
	{% endif %}
	<br>
	<a href="{% url 'index' %}">[Página inicial]</a>
	</tt>
</body>
</html>