{% extends "base.html" %}

{% block body %}

{% with qtd_convites=perfil_logado.convites_recebidos.count %}
{% if qtd_convites %}
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse1">
					<strong>Convites aguardando aprovação ({{qtd_convites}})</strong>
				</a>
			</div>
			<div id="collapse1" class="panel-collapse collapse" style="padding: 10px">
				<ul class="list-group">
				{% for convite in perfil_logado.convites_recebidos.all %}
					<li class="list-group-item">
						{{ convite.solicitante.nome }}
						<a href="{% url 'aceitar' convite.id %}" class="pull-right">Aceitar</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% else %}
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse2">
					<strong>Convites aguardando aprovação (0)</strong>
				</a>
			</div>
			<div id="collapse2" class="panel-collapse collapse" style="padding: 10px">
				<ul class="list-group">
					<li class="list-group-item">Nenhum convite pendente</li>
				</ul>
			</div>
		</div>
	</div>
{% endif %}
{% endwith %}

<br>

{% with qtd_contatos=perfil_logado.contatos.count %}
{% if qtd_contatos %}
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse3">
					<strong>Meus contatos ({{qtd_contatos}})</strong>
				</a>
			</div>
			<div id="collapse3" class="panel-collapse collapse" style="padding: 10px">
				<ul class="list-group">
				{% for contato in perfil_logado.contatos.all %}
					<li class="list-group-item">
						<a href="{% url 'exibir' contato.id %}">{{ contato.nome }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% else %}
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse4">
					<strong>Meus contatos (0)</strong>
				</a>
			</div>
			<div id="collapse4" class="panel-collapse collapse" style="padding: 10px">
				<ul class="list-group">
					<li class="list-group-item">Nenhum contato adicionado</li>
				</ul>
			</div>
		</div>
	</div>
{% endif %}
{% endwith %}

<br>

{% with qtd_perfis=perfis.count %}
{% if qtd_perfis %}
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse5">
					<strong>Buscar novos contatos ({{qtd_perfis}})</strong>
				</a>
			</div>
			<div id="collapse5" class="panel-collapse collapse" style="padding: 10px">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Empresa</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for perfil in perfis %}
							<tr>
								<td>{{ perfil.nome }}</td>
								<td>{{ perfil.nome_empresa }}</td>
								<td>
									<a href="{% url 'exibir' perfil.id %}" title="Ver Perfil"><span class="glyphicon glyphicon-user"></span></a>
									<a href="{% url 'convidar' perfil.id %}" title="Convidar"><span class="glyphicon glyphicon-plus"></span></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</div>
{% else %}
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#collapse6">
					<strong>Buscar novos contatos (0)</strong>
				</a>
			</div>
			<div id="collapse6" class="panel-collapse collapse" style="padding: 10px">
				<ul class="list-group">
					<li class="list-group-item">Nenhum perfil cadastrado</li>
				</ul>
			</div>
		</div>
	</div>
{% endif %}
{% endwith %}

<div class="panel-buttons">
	<div class="pull-left">
		<a href="{% url 'index' %}" class="btn btn-danger">Página inicial</a>
	</div>
</div>
{% endblock %}